<article class="mb-3">
    <time datetime="<%= answer.formatted_created_at %>">
      <%= answer.formatted_created_at %>
    </time>

    <div>
      <%= sanitize answer.body %>
    </div>

    <%= link_to 'Delete', question_answer_path(@question, answer), class: 'btn btn-danger btn-xs',
      data: { turbo_method: "delete" } %>
      <%= link_to 'Edit', edit_question_answer_path(@question, answer), class: 'btn btn-secondary' %>
  </article>